.overlay {
    display: flex;                
    justify-content: center;      
    align-items: center;          
    width: 100vw;                 
    height: 100vh;                
    background-color: rgba(0, 0, 0, 0.5); 
}
  
.modal {
    width: 900px;                 
    height: 600px;                
    background-color: #D9D9D9;      
    border-radius: 8px;           
}

.tittle{
    color: black;
}